<div class="mx-1">
    <div *ngIf="isBuilding">
        <button class="btn btn-secondary m-1 flex-fill" (click)="complete()">
            Complete
        </button>
    </div>
    <div *ngIf="!isBuilding">
        <div *ngIf="isNotLobbyTop" class="d-flex flex-row">
            <button class="btn btn-secondary m-1 flex-fill" (click)="MoveFloor(eMoveDirection.Up)" [class.disabled]="canGoUp">
                ^
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MoveFloor(eMoveDirection.Down)" [class.disabled]="canGoDown">
                v
            </button>
        </div>
        <div *ngIf="isEmptyFloor" class="d-flex flex-row flex-wrap">
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Residential)">
                Res
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Retail)">
                Retail
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Recreational)">
                Rec
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Food)">
                Food
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Creative)">
                Creat
            </button>
            <button class="btn btn-secondary m-1 flex-fill" (click)="MakeFloor(eFloorType.Service)">
                Serv
            </button>
        </div>
    </div>
</div>