<div class="d-flex flex-column w-100 h-100 border">
    <div class="d-flex flex-row" style="background-color: darkslategray;">
        <div class="d-flex flex-row justify-content-start" style="min-width: 25%; max-width: 25%;">
            <div *ngFor="let slot of floorInfo?.slots" class="m-1 p-2" style="border-radius: 8px" [style.background-color]="occupied(slot)"></div>
        </div>
        
        <div class="flex-grow-1" [style.color]="labelColor()">{{floorInfo?.floorName}}</div>
    </div>
    <div class="flex-grow-1"></div>
</div>
