<div class="d-flex mt-1">
    <div style="height: 60px; width: 60px; background-color: lightblue" class="mr-2"></div>
    <div style="background-color: darkslategray; color: white" 
        class="d-flex flex-grow-1 justify-content-around align-items-center">
        <div class="font-weight-bold" style="font-size: larger;">
            {{slot.name}}
        </div>
        <div class="d-flex flex-column" style="font-size: x-small;">
            <div>Coins</div>
            <div>Job</div>
            <div>Preferred</div>
        </div>
    </div>
</div>
